/*
 ALLOWED CHANGES ONLY EXTENSION
*/
@tailwind components;

@layer components {
    .h0 {
        font-size: var(--step-6);
    }

    h1, .h1 {
        font-size: var(--step-5);
    }

    h2, .h2 {
        font-size: var(--step-4);
    }

    h3, .h3 {
        font-size: var(--step-3);
    }

    h4, .h4 {
        font-size: var(--step-2);
    }

    h5, .h5 {
        font-size: var(--step-1);
    }

    .h0, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
        @apply font-heading;
        @apply font-bold;
    }

    body, .body1 {
        font-size: var(--step-0);
    }

    .body2 {
        font-size: var(--step--1);
    }

    .caption {
        font-size: var(--step--2);
    }

    body, .body1, .body2, .caption {
        @apply font-body;
        @apply font-normal;
    }
    
    * {
        @apply leading-fluid;
    }


    .coverage-item-root {
        @apply body1;
        @apply flex;
        @apply text-neutral-900;
    }
    .coverage-item-price {
        @apply min-w-space-xl;
        @apply max-w-space-2xl;
        @apply text-right;
        @apply font-bold;
    }

    .section-sponsor-container-title-carousel {
        z-index: -1;
      }
      /* || QUITAR EL OUTLINE EN UL */
      .section-sponsor-container__carousel-list div:focus,
      ul > li:focus {
        outline: none;
      }
      > div > div {
        cursor: default !important;
      }
}