/* Load all fonts from local
  Specify weights and styles to be able to access them by classes tailwind as:
  className:"font-bold italic"
  className:"font-semibold italic"

  #### Weights reference tailwind
  font-thin	        font-weight: 100;
  font-extralight	font-weight: 200;
  font-light	    font-weight: 300;
  font-normal   	font-weight: 400;
  font-medium	    font-weight: 500;
  font-semibold   	font-weight: 600;
  font-bold     	font-weight: 700;
  font-extrabold	font-weight: 800;
  font-black	    font-weight: 900;
 */

/*
  Remember delete fons unused in your project
  Delete from this file and assets
*/

/* Saira */
@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-Thin.ttf) format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-Light.ttf) format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-Black.ttf) format("truetype");
  font-weight: 900;
  font-display: swap;
}


/* Saira Italic */
@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: local("Saira");
  src: url(../app/assets/fonts/Saira/static/Saira/Saira-BoldItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


/* todo eliminR NUNITO */
/* Nunito */
@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-ExtraLight.ttf) format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-Light.ttf) format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-Black.ttf) format("truetype");
  font-weight: 900;
  font-display: swap;
}



/* Nunito Italic */
@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-ExtraLightItalic.ttf) format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito");
  src: url(../app/assets/fonts/Nunito/static/Nunito-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}


/* elegant icons */
@font-face {
  font-family: "ElegantIcons";
  src: local("ElegantIcons");
  src: url(../app/assets/fonts/ElegantIcons/ElegantIcons.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}
