@import "vars-fluid-typography.css";
@import "vars-fluid-spacing.css";
@import "vars-fluid-typography.css";
@import "fonts.css";
/* @import "tooltip.module.scss"; */
@import "app-base.css";
@import "app-components.css";
@import "app-utilities.css";

body {
  margin: 0;
  @apply font-body;
  -webkit-text-size-adjust: 100%; /*fix for iOS*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
