/* @link https://utopia.fyi/space/calculator?c=320,14,1.2,1920,16,1.25,5,2,1280&s=0.5|0.25,1.5|2|3|4|5|6|7|8|9|10|11|12|13,2xs-m|s-l|s-5xl|s-l */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1920;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1920px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fc-2xs-min: (var(--fc-s-min) * 0.25); 
  --fc-2xs-max: (var(--fc-s-max) * 0.25);

  --fc-xs-min: (var(--fc-s-min) * 0.5); 
  --fc-xs-max: (var(--fc-s-max) * 0.5);

  --fc-s-min: (var(--f-0-min, 14)); 
  --fc-s-max: (var(--f-0-max, 16));

  --fc-m-min: (var(--fc-s-min) * 1.5); 
  --fc-m-max: (var(--fc-s-max) * 1.5);

  --fc-l-min: (var(--fc-s-min) * 2); 
  --fc-l-max: (var(--fc-s-max) * 2);

  --fc-xl-min: (var(--fc-s-min) * 3); 
  --fc-xl-max: (var(--fc-s-max) * 3);

  --fc-2xl-min: (var(--fc-s-min) * 4); 
  --fc-2xl-max: (var(--fc-s-max) * 4);

  --fc-3xl-min: (var(--fc-s-min) * 5); 
  --fc-3xl-max: (var(--fc-s-max) * 5);

  --fc-4xl-min: (var(--fc-s-min) * 6); 
  --fc-4xl-max: (var(--fc-s-max) * 6);

  --fc-5xl-min: (var(--fc-s-min) * 7); 
  --fc-5xl-max: (var(--fc-s-max) * 7);

  --fc-6xl-min: (var(--fc-s-min) * 8); 
  --fc-6xl-max: (var(--fc-s-max) * 8);

  --fc-7xl-min: (var(--fc-s-min) * 9); 
  --fc-7xl-max: (var(--fc-s-max) * 9);

  --fc-8xl-min: (var(--fc-s-min) * 10); 
  --fc-8xl-max: (var(--fc-s-max) * 10);

  --fc-9xl-min: (var(--fc-s-min) * 11); 
  --fc-9xl-max: (var(--fc-s-max) * 11);

  --fc-10xl-min: (var(--fc-s-min) * 12); 
  --fc-10xl-max: (var(--fc-s-max) * 12);

  --fc-11xl-min: (var(--fc-s-min) * 13); 
  --fc-11xl-max: (var(--fc-s-max) * 13);

  /* T-shirt sizes */
  --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
  --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
  --space-4xl: calc(((var(--fc-4xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-4xl-min)) * var(--fluid-bp));
  --space-5xl: calc(((var(--fc-5xl-min) / 16) * 1rem) + (var(--fc-5xl-max) - var(--fc-5xl-min)) * var(--fluid-bp));
  --space-6xl: calc(((var(--fc-6xl-min) / 16) * 1rem) + (var(--fc-6xl-max) - var(--fc-6xl-min)) * var(--fluid-bp));
  --space-7xl: calc(((var(--fc-7xl-min) / 16) * 1rem) + (var(--fc-7xl-max) - var(--fc-7xl-min)) * var(--fluid-bp));
  --space-8xl: calc(((var(--fc-8xl-min) / 16) * 1rem) + (var(--fc-8xl-max) - var(--fc-8xl-min)) * var(--fluid-bp));
  --space-9xl: calc(((var(--fc-9xl-min) / 16) * 1rem) + (var(--fc-9xl-max) - var(--fc-9xl-min)) * var(--fluid-bp));
  --space-10xl: calc(((var(--fc-10xl-min) / 16) * 1rem) + (var(--fc-10xl-max) - var(--fc-10xl-min)) * var(--fluid-bp));
  --space-11xl: calc(((var(--fc-11xl-min) / 16) * 1rem) + (var(--fc-11xl-max) - var(--fc-11xl-min)) * var(--fluid-bp));
  
  /* One-up pairs */
  --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
  --space-3xl-4xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
  --space-4xl-5xl: calc(((var(--fc-4xl-min) / 16) * 1rem) + (var(--fc-5xl-max) - var(--fc-4xl-min)) * var(--fluid-bp));
  --space-5xl-6xl: calc(((var(--fc-5xl-min) / 16) * 1rem) + (var(--fc-6xl-max) - var(--fc-5xl-min)) * var(--fluid-bp));
  --space-6xl-7xl: calc(((var(--fc-6xl-min) / 16) * 1rem) + (var(--fc-7xl-max) - var(--fc-6xl-min)) * var(--fluid-bp));
  --space-7xl-8xl: calc(((var(--fc-7xl-min) / 16) * 1rem) + (var(--fc-8xl-max) - var(--fc-7xl-min)) * var(--fluid-bp));
  --space-8xl-9xl: calc(((var(--fc-8xl-min) / 16) * 1rem) + (var(--fc-9xl-max) - var(--fc-8xl-min)) * var(--fluid-bp));
  --space-9xl-10xl: calc(((var(--fc-9xl-min) / 16) * 1rem) + (var(--fc-10xl-max) - var(--fc-9xl-min)) * var(--fluid-bp));
  --space-10xl-11xl: calc(((var(--fc-10xl-min) / 16) * 1rem) + (var(--fc-11xl-max) - var(--fc-10xl-min)) * var(--fluid-bp));

  /* Custom pairs */
  --space-2xs-m: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-s-l: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-s-5xl: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-5xl-max) - var(--fc-s-min)) * var(--fluid-bp));
}