{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "globals": {
    "JSX": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "prettier",
    "react",
    "@typescript-eslint",
    "unused-imports",
    "simple-import-sort"
  ],
  "rules": {
    "react/jsx-no-duplicate-props": [1, { "ignoreCase": false }],
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^react",
            "^@?\\w"
          ],
          [
            "^(@|components)(/.*|$)"
          ]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "bracketSpacing": true,
        "bracketSameLine": false,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "always",
        "quoteProps": "as-needed",
        "semi": true,
        "singleQuote": false,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false,
        "endOfLine": "auto"
      }
    ],
    "prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/no-default-export": "off",
    "import/extensions": "off",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "warn",
    "no-restricted-exports": "off",
    "react/jsx-boolean-value": [
      "error",
      "never"
    ],
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false,
        "variables": false
      }
    ],
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".ts",
          ".tsx"
        ]
      }
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": [
          "function-declaration",
          "arrow-function"
        ]
        /*,
         "unnamedComponents": [
          "function-expression",
          "arrow-function"
        ]*/
      }
    ],
    "no-param-reassign": "off",
    "global-require": "off",
    "no-use-before-define": "off",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          "@mui/material"
        ],
        "patterns": [
          "@mui/*/*/*",
          ",!@mui/material/test-utils/*",
          "../../*"
        ]
      }
    ]
  }
}
